/* common css start */
h1,h2,h3,h4,h5,h6,
ul,ol,
span,
p{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
:root{
    --main-white-color:#fff;
    --red-color:#ed1e24;
    --gray-color:#b1b1b1;
    --headding-color:#232323;
    --pragraph-color:#777;
    --dark-blue-color:#190a32;
}
body{
    overflow-x: hidden;
}
#my_nav .toggle_btn:focus{
    box-shadow: none;
}
input:focus,textarea{
    outline: 0;
    box-shadow: none;
}
/* common css end */

/*navbar css start*/
#my_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7e1b1b;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff7d;
    z-index: 9999999999;
    background-color: transparent;
    transition:all linear .3s;
}
#my_nav.stickynav{
    background-color: #2D2D2D;
    padding: 10px 0;
}
#my_nav .toggle_btn{
    border-color: var(--main-white-color);
}
#my_nav .toggle_btn::after{
    content: '\f0c9' ;
    font-family:"Font Awesome 5 Free" ;
    font-weight: 700;
    color: var(--main-white-color);
}
#my_nav.active .toggle_btn::after{
    content: '\f00d' ;
    font-family:"Font Awesome 5 Free" ;
    font-weight: 700;
    color: var(--main-white-color);
}
#my_nav #nav_menu ul li a{
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 20px 0;
    margin-right: 22px;
    color: var(--main-white-color);
    text-transform: capitalize;
}
#my_nav #nav_menu ul li.hov_color a:hover{
    color: var(--red-color);
}
#my_nav #nav_menu ul li{
    position: relative;
}
#my_nav #nav_menu ul li .main_dw{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--main-white-color);
    width: 250px;
    border-top: 4px solid var(--red-color);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    transition: all ease .5s;
    margin-top: 15px;
    z-index: 1;
}
#my_nav #nav_menu ul li:hover .main_dw{
    opacity: 1;
    visibility:visible;
    margin-top: 0;
}
#my_nav #nav_menu ul li .main_dw li a{
    color: #4f4f4f;
    padding: 15px;
}

#my_nav #nav_menu ul li.coll_icon{
    width: 60px;
    height: 60px;
    background-color: #ED1E24;
    line-height: 60px;
    text-align: center;
    color: var(--main-white-color);
    font-size: 35px;
    border-radius: 10px;
    margin-right: 15px;
}
#my_nav #nav_menu ul li.coll_icon i{
    transform: rotate(-45deg);
}
#my_nav #nav_menu ul li span{
    color: var(--main-white-color);
    font-size: 15px;
    font-weight: 500;
}
#my_nav #nav_menu ul li h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
}

/*navbar css end*/

/*slider css start*/
#slider{
    position: relative;
}
#slider .slider_container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
#slider .slider_slick .slider_arrow{
    position: absolute;
    font-size: 29px;
    color: var(--main-white-color);
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    background-color: #ffffff21;
    cursor: pointer;
    transition: all linear .3s;
}
#slider .slider_slick .slider_arrow:hover{
    background-color: #fff;
    color: #000;
}
#slider .slider_slick .slider_arrow.slider_left{
    bottom: 58%;
    right: 18%;
}
#slider .slider_slick .slider_arrow.slider_right{
    bottom: 65%;
    right: 22%;
}
#slider .slider_item{
    position: relative;
    z-index: 1;
}
#slider .slider_item h2{
    font-size: 74px;
    line-height: 1.2;
    font-family:  'Poppins', sans-serif;
    font-weight: 800;
    color: var(--main-white-color);
    margin-bottom: 25px;
    animation: animate 1s ;
}
@keyframes animate{
    0%{
        top: -30px;
    }
    100%{
        top: 0;
    }
}
#slider .slider_icon ul li a{
    color: var(--main-white-color);
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid var(--main-white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    transition: all linear .3s;
}
#slider .slider_icon ul li{
    display: inline-block;
    margin-right: 5px;
}
#slider .slider_icon ul li a:hover{
    background-color:#ED1E24 ;
    border-color:#ED1E24 ;
}
#slider .slider_item p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--main-white-color);
    line-height: 26px;
    padding-right: 50px;
}
#slider .slider_item a{
    display: inline-block;
    font-size: 15px;
    color: var(--main-white-color);
    background-color: #ED2123;
    line-height: 1;
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 35px;
    border-radius: 25px;
    margin-top: 30px;
}
#slider .slider_img_one{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: 1;
}
#slider .slider_img_tow{
    position: absolute;
    right: -30px;
    bottom: -10px;
    overflow-y: hidden;
}
/*slider css end*/

/*about css start*/
#about{
    background-image: url(../img/about-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 120px 0;
}
#about .section_ttl h2{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: var(--main-white-color);
    margin-bottom: 50px;
}
#about .about_item h2{
    font-size: 347px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#ED1E24 ;
    position: relative;
}
#about .about_item h2::after{
    content: '\f067';
    font-family:"Font Awesome 5 Free" ;
    font-weight: 700;
    font-size: 45px;
    position: absolute;
    left: 92%;
    bottom: 87px;
}
#about .about_item_container{
    position: relative;
}
#about .about_content p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color:#b1b1b1 ;
    line-height: 26px;
    margin-bottom:15px ;
}
#about .about_content .about_img_container{
    padding-top: 15px;
}
#about .about_content .about_img_container .about_img img{
    width: 160px;
    height: 160px;
    display: block;
}
#about .about_content .about_img_container .about_text ul li{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: var(--main-white-color);
}
#about .about_content .about_img_container .about_text ul li i{
    font-size: 20px;
    color: #ED1E24;
    margin-right:10px;
}
/*about css end*/

/*services css start*/
#services{
    padding: 120px 0 90px;
}
#services .section_ttl h3{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
    line-height: 1.2;
}
#services .section_ttl p{
    font-size:15px ;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: var(--pragraph-color);
    margin: 15px 0;
}
#services .services_item{
    border: 1px solid #c2c2c2;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
#services .services_item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
}
#services .services_item:hover::after{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #2d2d2d;
    box-shadow: 0px 30px 40px 0px rgba(32, 85, 125, 0.06);
    border-radius: 10px;
    top: -10px;
    left: -10px;
}
#services .services_item .services_item_img,
#services .services_item .services_item_content{
    position: relative;
    z-index: 1;
}
#services .services_item .services_item_img {
    width: 80px;
    margin-bottom: 30px;
}
#services .services_item .services_item_img img{
    display: block;
    width: 100%;
}
#services .services_item .services_item_content h3{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #232323;
    margin-bottom: 20px;
    cursor: pointer;
}
#services .services_item:hover .services_item_content h3{
    color: var(--main-white-color);
    transition: all linear .3s;
}
#services .services_item:hover .services_item_content h3:hover{
    color: var(--red-color);
}
#services .services_item .services_item_content p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--pragraph-color);
    margin-bottom: 15px;
}
#services .services_item:hover .services_item_content p{
    color: #b9c3cb;
}
#services .services_item .services_item_content a{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--red-color);
    border-bottom: 1px solid var(--red-color);
}
#services .services_item:hover .services_item_content a{
    color: var(--main-white-color);
}
/*services css end*/

/*video css start*/
#video .video_item_img{
    background-image: url(../img/video-img.png);
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
#video .video_item_img .video_icon{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#video .video_item_img .video_icon a{
    position: relative;
}
#video .video_item_img .video_icon a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 142px;
    height: 142px;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 50%;
    z-index: -1;
    animation: video 1.5s ease-out infinite;
}
@keyframes video{
    0%{
        transform: translatex(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translatex(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
/*video css end*/

/*counter css start*/
#counter{
    background-image: url(../img/counter-bg.png);
    background-position: center;
    background-position: cover;
    padding: 370px 0 90px;
    margin-top: -290px;
}
#counter .counter_item{
    width: 100%;
}
#counter .counter_item .counter_bg_img{
    background-image: url(../img/c-object.png);
    background-position: center;
    background-size: cover;
    width: 58px;
    height: 58px;
    padding: 20px 0 0 30px;
}
#counter .counter_item .counter_bg_img span{
    display: inline-block;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:var(--main-white-color);
    line-height: 1;
    padding-right: 20px;
}
#counter .counter_item .counter_bg_img p{
    font-size: 16px;
    color: var(--pragraph-color);
}
/*counter css end*/

/*contact css start*/
#contact{
    padding:120px 0 100px ;
}
#contact .contact_from{
    background-color: #f6f8fa;
    padding: 80px;
    border-radius: 10px;
}
#contact .contact_from .contact_ttl h3{
    font-size: 32px;
    font-family:'Poppins', sans-serif ;
    font-weight: 700;
    color: var(--headding-color);
    margin-bottom: 38px;
}
#contact .contact_from .contact_form_item{
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #777;
    font-style: normal;
}
#contact .contact_from .contact_form_item input,
#contact .contact_from .contact_form_item  textarea{
    border: 1px solid ;
    width: 100%;
    border-radius: 10px;
    padding-left: 15px;
    height: 54px;
}
#contact .contact_from .contact_form_item  textarea{
    height: 100px;
}
#contact .contact_from .contact_btn button{
    text-transform: uppercase;
    color: var(--main-white-color);
    padding: 14px 30px;
    background-color: #ED2123;
    border-radius: 25px;
}
#contact .contact_deatails .contact_head_ttl h3{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
    line-height: 1.2;
    margin-bottom: 50px;
}
#contact .contact_deatails .contact_text_item .contact_item_box{
    box-shadow:  2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
}
#contact .contact_deatails .contact_text_item .contact_item .contact_dw{
    font-size: 17px;
    font-family: inherit;
    font-weight: 700;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
    color: #232323;
    background-color: var(--red-color);
    color: var(--main-white-color);
    position: relative;
}
#contact .contact_deatails .contact_text_item .contact_item .contact_dw::before{
    content: '\f053';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    right: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    color: var(--headding-color);

}
#contact .contact_deatails .contact_text_item .contact_item_box .contact_dw_tg p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--pragraph-color);
    padding: 25px 30px;
}
/*contact css end*/

/*team css start*/
#team{
    padding-bottom: 120px;
}
#team .section_ttl {
    margin-bottom: 50px;
}
#team .section_ttl h2{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
}
#team .team_item .team_item_img{
    position: relative;
}
#team .team_item .team_item_img .team_icon{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#team .team_item .team_info{
    padding-top: 30px;
}
#team .team_item .team_info h4 a{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--headding-color);
    transition: all linear .3s;
}
#team .team_item:hover .team_info h4 a{
    color: var(--red-color);
}
#team .team_item .team_info span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: var(--pragraph-color);
}
/*team css end*/

/*gallery css start*/
#gallery{
    padding-bottom: 90px;
    overflow: hidden;
}
#gallery .gallery_item{
    position: relative;
}

#gallery .gallery_item a::after{
    content: '\f067';
    font-family:"Font Awesome 5 Free" ;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    color: #fff;
    background-color: var(--red-color);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 0;
}
#gallery .gallery_item:hover a::after{
    top: 50%;
    opacity: 1;
}
#gallery .gallery_item::before{
    content: '';
    position: absolute;
    background-color: var(--headding-color);
    opacity:0;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    transition: all ease .3s;
}
#gallery .gallery_item:hover:before{
    opacity: .6;
}
#gallery .gallery_item .gallery_item_bg{
    position: absolute;
    bottom: 0;
    padding: 35px 0 35px 30px;
    opacity: 0;
    bottom: -150px;
    z-index: 2;
    transition: all ease .3s;
}
#gallery .gallery_item:hover .gallery_item_bg{
    opacity: 1;
    bottom: 0;
}
#gallery .gallery_item .gallery_item_bg span{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left:5px ;
    color: var(--main-white-color);
}
#gallery .gallery_item .gallery_item_bg h4{
    font-size: 24px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
    position: relative;
    padding-left:40px ;
}
#gallery .gallery_item .gallery_item_bg h4::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    background-color: var(--main-white-color);
    left: 0;
}
/*gallery css end*/

/*testmonial css start*/
#testmonial{
    padding-bottom:90px ;
}
#testmonial .testmonial_ttl{
    margin-bottom: 20px;
}
#testmonial .testmonial_ttl h2{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
    line-height: 1.2;
}
#testmonial .testmonial_item{
    width: 354px;
    padding: 30px;
    margin: 30px 12px 15px;
    box-shadow: 1px 1.732px 16px 0px rgba(0, 0, 0, 0.07);
}
#testmonial .testmonial_item .testmonial_icon img{
    margin-bottom: 30px;
}
#testmonial .testmonial_item p{
    font-size: 15px;
    font-family:  'Roboto', sans-serif;
    font-weight: normal;
    color: var(--pragraph-color);
}
#testmonial .testmonial_item .testmonial_box img{
    margin: 30px 0 15px;
}
#testmonial .testmonial_item .testmonial_box .testmonial_info h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 5px 0;
    color: #4f4f4f;
}
#testmonial ul{
    text-align: center;
}
#testmonial ul li{
    display: inline-block;
}

#testmonial ul li button{
    font-size:0;
    border: none;
    width: 10px;
    height: 10px;
    background-color: #ababab;
    margin: 5px;
    border-radius: 50%;
    transition: all ease .3s;
}
#testmonial ul li.slick-active button{
    background-color: var(--red-color);
}
/*testmonial css end*/

/*newslater css start*/
#newslater{
    background-image:url(../img/subscibe-bg.png) ;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}
#newslater .newslater_ttl .newslater_icon{
    margin-right: 30px;
    line-height: 87px;
}
#newslater .newslater_ttl .newslater_head h3{
    font-size: 40px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
    
}
#newslater .newslater_ttl .newslater_head p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--main-white-color);
    margin-bottom: 15px;
}
#newslater .newslater_form {
    position: relative;
}
#newslater .newslater_form input{
    position: relative;
    width: 100%;
    border:1px solid;
    padding: 9px 20px;
    height: 64px;
    border-radius: 30px;
}
#newslater .newslater_form button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red-color);
    color: var(--main-white-color);
    border-radius: 25px;
    height: 55px;
    padding: 0 30px;
    margin: 4px 4px 0 0;

}
/*newslater css end*/

/*chose css start*/
#chose {
    padding: 113px 0 120px;
}
#chose .chose_item .chose_ttl h3{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 35px;
}
#chose .chose_item .chose_item_dettils ul li{
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #777;
    line-height: 26px;
}
#chose .chose_item .chose_item_dettils ul li::after{
    content: '';
    position: absolute;
    border-left: 1px dotted #000;
    width: 1px;
    height: 100%;
    left: 40px;
}
#chose .chose_item .chose_item_dettils ul li .num{
    position: absolute;
    display:inline-block;
    width: 80px;
    height: 80px;
    background-color: #ebebeb;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all linear .3s;
    cursor: pointer;
}
#chose .chose_item .chose_item_dettils ul li:hover .num{
    background-color: var(--red-color);
    color: var(--main-white-color);
}
#chose .chose_item .chose_item_dettils ul .last_li::after{
    border: none;
}
/*chose css end*/

/*blog css start*/
#blog {
    position: relative;
    padding-bottom: 90px;
}
#blog .blog_slick .blog_arrow{
    position: absolute;
    bottom: 10%;
    left: -365px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--main-white-color);
    border-radius: 50%;
    box-shadow: 1px 1.732px 30px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}
#blog .blog_slick .blog_arrow.blog_right{
    left:-275px ;
}
#blog .blog_ttl h2{
    font-size: 60px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
}
#blog .blog_ttl p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #777;
    line-height: 26px;
    margin: 15px 0;
}
#blog .blog_item{
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}
#blog .blog_item .blog_item_text{
    box-shadow:  0px 11px 16.15px 0.85px rgba(121, 121, 121, 0.07);
    padding: 30px;
}
#blog .blog_item .blog_item_text span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #777;
    margin-right: 8px;
    padding-right: 8px;
    display: inline-block;
    margin-bottom: 15px;
}
#blog .blog_item .blog_item_text span i{
    color: var(--red-color);
    margin-right: 5px;
}
#blog .blog_item .blog_item_text h3{
    font-size: 24px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    color: var(--headding-color);
    margin-bottom: 15px;
    transition: all ease .3s;
}
#blog .blog_item .blog_item_text h3:hover{
    color: var(--red-color);
}
#blog .blog_item .blog_item_text a{
    display: inline-block;
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    border-bottom: 3px solid var(--red-color);
    color: var(--red-color);
    transition: all ease .3s;
}
#blog .blog_item .blog_item_text a:hover{
    color: var(--headding-color);
    border-color: var(--headding-color);
}
/*blog css end*/

/*footer css start*/
#footer_top {
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-size: cover;
    text-align: left;
    padding: 70px 0 40px;
}
#footer_top .footer_top_item h3{
    display: inline-block;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
    margin-bottom: 30px;
    padding-bottom:10px ;
    position: relative;
}
#footer_top .footer_top_item h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: var(--red-color);
}
#footer_top .footer_top_item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #bababa;
    margin-bottom: 15px;
    line-height: 24px;
}
#footer_top .footer_top_item .footer_top_icon a{
    display: inline-block;
    font-size: 18px;
    width: 46px;
    height: 46px;
    text-align: center;
    background-color: #575757;
    line-height: 46px;
    color: var(--main-white-color);
    border-radius: 50%;
    margin-right: 10px;

}
#footer_top .footer_top_item ul li{
    margin-bottom: 15px;
}
#footer_top .footer_top_item ul li a{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #bababa;
}
#footer_top .footer_top_item ul li i{
    font-size: 15px;
    color: var(--main-white-color);
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
}
#footer_top .footer_top_item ul li span{
    color: #bababa;
    display: block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 24px;
}
#footer_bottom {
    background-color: var(--red-color);
    padding: 15px 0;
    color: var(--main-white-color);
    font-size: 15px;
}
/*footer css end*/

/*backToTop css*/
#backtotop{
    background-color: var(--red-color);
    border: none;
    bottom: 90px;
    right: 30px;
    color: var(--main-white-color);
    font-size: 22px;
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    display: none;
}
